<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:uap18="http://schemas.microsoft.com/appx/manifest/uap/windows10/18"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap5 mp rescap uap18">

	<Identity
	  Name="12814ecomter.eComBox"
	  Publisher="CN=2EE6EBC2-5C74-49F9-BE3F-443A16407D40"
	  Version="0.4.1.0" />

	<mp:PhoneIdentity PhoneProductId="edbc9e7b-1439-4c87-8932-ea26165713da" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>eComBox</DisplayName>
		<PublisherDisplayName>ecomter</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.17763.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="eComBox.App" uap18:RuntimeBehavior="windowsApp">
			<Extensions>
				<uap5:Extension Category="windows.startupTask" Executable="eComBox.exe" EntryPoint="eComBox.App">
					<uap5:StartupTask DisplayName="eComBox" Enabled="false" TaskId="eComBox.AutoRun" />
				</uap5:Extension>
  
				<Extension Category="windows.backgroundTasks" EntryPoint="eComBox.Tasks.DateNotificationBackgroundTask">
					<BackgroundTasks>
						<Task Type="timer" />
						<Task Type="systemEvent" />
					</BackgroundTasks>
				</Extension>
			</Extensions>

			<uap:VisualElements
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png"
			  BackgroundColor="transparent" DisplayName="ms-resource:AppDisplayName" Description="AppDescrption">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png" ShortName="eComBox">
					<uap:ShowNameOnTiles>
						<uap:ShowOn Tile="square150x150Logo"/>
						<uap:ShowOn Tile="wide310x150Logo"/>
						<uap:ShowOn Tile="square310x310Logo"/>
					</uap:ShowNameOnTiles>
				</uap:DefaultTile>
				<uap:InitialRotationPreference>
					<uap:Rotation Preference="landscape"/>
					<uap:Rotation Preference="portrait"/>
				</uap:InitialRotationPreference>
				<uap:LockScreen BadgeLogo="Assets\BadgeLogo.png" Notification="badgeAndTileText"/>
				<uap:SplashScreen Image="Assets\SplashScreen.png"/>
			</uap:VisualElements>
		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
	</Capabilities>

	<Extensions>
		<Extension Category="windows.activatableClass.inProcessServer">
			<InProcessServer>
				<Path>eComBox.exe</Path>
				<ActivatableClass ActivatableClassId="eComBox.Tasks.DateNotificationBackgroundTask" ThreadingModel="both" />
			</InProcessServer>
		</Extension>
	</Extensions>
</Package>
