# This workflow builds the UWP application and creates MSIX packages

name: MSBuild UWP

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  SOLUTION_FILE_PATH: eComBox.sln
  BUILD_CONFIGURATION: Release
  BUILD_PLATFORM: x64

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        platform: [x64, x86]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Restore NuGet packages
      run: nuget restore ${{env.SOLUTION_FILE_PATH}}

    - name: Build UWP application
      run: msbuild ${{env.SOLUTION_FILE_PATH}} /p:Configuration=${{env.BUILD_CONFIGURATION}} /p:Platform=${{matrix.platform}} /p:AppxPackageSigningEnabled=false /p:AppxBundle=Never

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      if: matrix.platform == 'x64'
      with:
        name: UWP-Build-${{matrix.platform}}
        path: |
          **/bin/${{matrix.platform}}/${{env.BUILD_CONFIGURATION}}/
          !**/bin/${{matrix.platform}}/${{env.BUILD_CONFIGURATION}}/**/*.pdb
